{% extends 'base.html.twig' %}

{% block title %}
   Rejestracja
{% endblock %}

{% form_theme form _self %}

{% block form %}
   {% block form_content %}
      <h1 id="form-title">Tworzenie konta</h1>

      {{ form_start(form) }}
      <div class="w-100 mb-2 d-flex">
         <div class="w-50 me-2">
            <label class="fw-bold w-100">{{ form_label(form.firstName) }}</label>
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
         </div>

         <div class="w-50 ms-2">
            <label class="fw-bold w-100">{{ form_label(form.lastName) }}</label>
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
         </div>
      </div>

      <div class="w-100 mb-2">
         <label class="fw-bold w-100">Rola</label>
         <input class="form-control" type="text" value="{{ role }}" disabled/>
      </div>

      {% block classes %}{% endblock %}

      <div class="w-100 mb-2">
         <label class="fw-bold w-100">{{ form_label(form.pesel) }}</label>
         {{ form_widget(form.pesel) }}
         {{ form_errors(form.pesel) }}
      </div>

      <div class="w-100">
         {{ form_widget(form.submit) }}
      </div>

      {{ form_end(form) }}
   {% endblock %}
{% endblock %}
