{% extends 'base.html.twig' %}

{% block title %}
   Logowanie
{% endblock %}

{% block form %}
   {% block form_content %}
      <h1 class="fw-bold text-center fs-3 w-100">Logowanie</h1>
      <form method="post" class="mb-2">
         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
         {% endif %}

         {% if app.user %}
            <div class="mb-3">
               You are logged in as
               {{ app.user.userIdentifier }},
               <a href="{{ path('app_logout') }}">Logout</a>
            </div>
         {% endif %}

         <div class="w-100 mb-2">
            <label class="fw-bold w-100">Email</label>
            <input type="email" value="{{ email ?? last_username }}" name="email" class="form-control" autocomplete="email" required autofocus/>
         </div>

         <div class="w-100 mb-2">
            <label class="fw-bold w-100">Password</label>
            <input type="password" name="password" class="form-control" autocomplete="current-password" required/>
         </div>

         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

         <button class="btn btn-primary w-100" type="submit">
            Zaloguj się
         </button>
      </form>
   {% endblock %}
{% endblock %}
