{% extends 'base.html.twig' %}

{% block title %}
   Szablon harmonogramu
{% endblock %}

{% block stylesheets %}
   <style>
      input[type="date"] {
         padding: 5px 10px;
         width: 100%;
      }
   </style>
{% endblock %}

{% block javascripts %}
   <script src="{{ asset("js/autoform.js") }}"></script>
{% endblock %}

{% block form %}
   {% block form_content %}
      <h2 class="form-title">{{ form_label(form) }}</h2>
      {{ form_start(form) }}

      <div class="mb-2">
         <div class="mb-2 row">
            <div class="col-6">
               {{ form_widget(form.lessonTime) }}
               {{ form_errors(form.lessonTime) }}
            </div>

            <div class="col-6">
               {{ form_widget(form.subject) }}
               {{ form_errors(form.subject) }}
            </div>
         </div>

         <div class="row">
            <div class="col-6">
               {{ form_widget(form.teacher) }}
               {{ form_errors(form.teacher) }}
            </div>

            <div class="col-6 ">
               {{ form_widget(form.place) }}
               {{ form_errors(form.place) }}
            </div>
         </div>

         {% if form.lessonStatus is defined %}
            <div class="col-12 mt-2">
               {{ form_widget(form.lessonStatus) }}
               {{ form_errors(form.lessonStatus) }}
            </div>
         {% endif %}
      </div>

      <div class="d-flex">
         <div class="col-8">
            {{ form_widget(form.submit) }}
         </div>
         <div class="col-3 offset-1">
            <button type="button" class="btn btn-danger w-100 handle">ANULUJ</button>
         </div>
      </div>
      {{ form_end(form) }}
   {% endblock %}
{% endblock %}

{% block body %}
   <div id="sheduleManage">
      <div class="position-relative">
         <h1 id="main-title">Harmonogram zajęć -
            {{ class.name }}
            ({{ date }})
         </h1>

         {% if type ?? null == "create" %}
            <img class="position-absolute top-0 end-0 img-medium handle" src="{{ asset('images/dashboard/plus.png/') }}"/>
         {% endif %}
      </div>

      {% if schedule.lessons|length > 0 %}
         <div>
            <table id="schedule" class="table table-striped table-sm">
               <thead>
                  <tr>
                     <th>Nr.</th>
                     <th>Godzina</th>
                     <th>Przedmiot</th>
                     <th>Nauczyciel</th>
                     <th>Miejsce</th>
                     <th>Status</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  {% set cid = form.vars.value.id %}
                  {% for lesson in schedule.lessons %}
                     <tr>
                        {% if lesson != null %}
                           <td>{{ loop.index }}</td>
                           <td>{{ lesson.lessonTime.time }}</td>
                           <td>{{ lesson.subject.name }}</td>
                           <td>{{ lesson.teacher.name }}</td>
                           <td>{{ lesson.place }}</td>
                           <td>{{ lesson.lessonStatus.description }}</td>
                           <td>
                              <div class="d-flex">
                                 <a href="{{ path('app_lesson_edit', {id: lesson.id}) }}#" class="me-3">
                                    <img class="img-small{{ lesson.id == cid ? " handle" : null }}" src="{{ asset('images/settings.png/') }}"/>
                                 </a>
                                 <form action="{{ path('app_lesson_delete', {id: lesson.id}) }}" method="post">
                                    <button class="clear" type="submit"><img class="img-small" src="{{ asset('images/trash.png') }}"/></button>
                                 </form>
                              </div>
                           </td>

                        {% else %}
                           <td>{{ loop.index }}</td>
                           <td>{{ lessonTimes[loop.index - 1].time }}</td>
                           <td colspan="5"></td>
                        {% endif %}
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      {% else %}
         <p class="fs-1 text-center mt-5 fw-bold">
            BRAK ZAJĘĆ
         </p>
      {% endif %}

      <a href="{{ path("app_schedule_show", {class_id: class.id, date }) }}">
         <button type="button" class="btn btn-primary w-100 fw-bold">Powrót</button>
      </a>
   </div>

   <div id="type" class="d-none">{{ type }}</div>
{% endblock %}
