{% extends 'base.html.twig' %}

{% block title %}
   Plan zajęć
{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/schedule.css') }}"/>
{% endblock %}

{% block body %}
   <div id="schedule">
      <h1 id="main-title">Harmonogram klasy [
         {{ class.name }}
         ]
      </h1>
      <table class="table table-striped text-center">
         <thead>
            <tr>
               <th>Data</th>
               {% for lessonTime in lessonTimes %}
                  <th>{{ lessonTime.time }}</th>
               {% endfor %}
               <td></td>
            </tr>
         </thead>

         <tbody>
            {% for key, schedule in schedules %}
               <tr>
                  <td class="item">
                     <div>{{ key }}</div>
                  </td>
                  {% for lessonTime in lessonTimes %}
                     {% set empty = true %}
                     {% for lesson in schedule.lessons %}
                        {% set continue = true %}

                        {% if lesson.lessonTime != lessonTime %}
                           {% set continue = false %}
                        {% endif %}

                        {% if continue %}
                           {% set empty = false %}
                           <td class="item">
                              <div class="lightgreen">
                                 <div>
                                    <span class="fw-bold">{{ lesson.subject.name }}</span>
                                    ({{ lesson.place }})
                                 </div>
                                 <div>({{ lesson.teacher.name }})</div>
                              </div>
                           </td>
                        {% endif %}
                     {% endfor %}

                     {% if empty %}
                        <td class="item">
                           <div>-</div>
                        </td>
                     {% endif %}
                  {% endfor %}

                  <td class="item">
                     <div>
                        {% if schedule.canManage == true %}
                           <a href="{{ path('app_schedule_manage', {class_id: class.id, date: key }) }}">
                              <img class="img-medium" src="{{ asset('images/settings.png') }}"/>
                           </a>
                        </div>
                     {% endif %}
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <div id="buttons" class="container-fluid">
      <div class="text-center row">
         <a class="col-3 offset-1" href="{{ path('app_schedule_show', {class_id: class.id, date: prevDate}) }}">
            <button class="btn btn-primary w-100">Poprzednia strona</button>
         </a>

         <a class="col-4" href="{{ path('app_scheduleTemplate_show', {class_id: class.id, day: "monday"}) }}">
            <button class="btn btn-primary w-100">Powrót do harmonogramu</button>
         </a>

         <a class="col-3" href="{{ path('app_schedule_show', {class_id: class.id, date: nextDate}) }}">
            <button class="btn btn-primary w-100">Następna strona</button>
         </a>
      </div>
   </div>
{% endblock %}
