{% extends 'base.html.twig' %}

{% block title %}
   Tworzenie klasy
{% endblock %}

{% form_theme form _self %}

{% block form %}
   <h1 class="fw-bold text-center fs-3 w-100">Tworzenie klasy</h1>

   {{ form_start(form) }}
   <div class="w-100 mb-2">
      <label class="fw-bold w-100">{{ form_label(form.name) }}</label>
      {{ form_widget(form.name) }}
      {{ form_errors(form.name) }}
   </div>

   <div class="w-100 mb-2">
      <label class="fw-bold w-100">{{ form_label(form.teacher) }}</label>
      {{ form_widget(form.teacher) }}
      {{ form_errors(form.teacher) }}
   </div>

   <div class="w-100">
      {{ form_widget(form.submit) }}
   </div>

   {{ form_end(form) }}
{% endblock %}
