{% extends 'base.html.twig' %}

{% block title %}
   {{ class.name }}
{% endblock %}

{% block javascripts %}
   <script src="{{ asset("js/userList.js") }}"></script>
{% endblock %}

{% block body %}
   <div id="content">
      <h1 id="main-title">
         {{ class.name }}
         -
         {{ class.teacher ? class.teacher.name : "Brak wychowawcy" }}
      </h1>

      <table class="table table-striped table-sm   ">
         <thead>
            <tr>
               <th>Nr.</th>
               <th>Imię</th>
               <th>Nazwisko</th>
               <th>Adres email</th>
               <th>PESEL</th>
               <th class="text-center">Status konta</th>
               <th class="text-center">Aktywacja</th>
               <th class="text-center">Edycja</th>
            </tr>
         </thead>

         <tbody>
            {% for user in class.students %}
               <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.pesel }}</td>

                  <td class="text-center">
                     {% if user.isActive %}
                        <span class='text-success'>Konto aktywne</span>
                     {% else %}
                        <span class='text-danger'>Konto nie aktywne</span>
                     {% endif %}
                  </td>

                  <td class="text-center">
                     {% if user.isActive == false %}
                        <img class="copy-wrapper img-medium" src="{{ asset("images/copy.png") }}" data-link="{{ url('app_complete_register', { pesel: user.pesel, code: user.code, UserType: user.role.name }) }}"/>
                     {% endif %}
                  </td>

                  <td class="text-center">
                     <a href="{{ path('app_user_edit', { id: user.id, UserType: user.role.name, redirectTo: path('app_class_show', {id: class.id}) }) }}">
                        <img class="img-medium" src="{{ asset("images/edit.png") }}"/>
                     </a>
                  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

{% endblock %}
