{% extends 'base.html.twig' %}

{% block title %}
   {{ class.name }}
{% endblock %}

{% block javascripts %}
   <script src="{{ asset("js/userList.js") }}"></script>
{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/class.css') }}"/>
{% endblock %}


{% block body %}
   <div id="content">
      <h1 id="main-title" class="w-100 fs-5">{{ class.name }}</h1>

      <div class="row w-100 mx-auto">
         <div id="left" class="col-12 col-md-8 col-lg-9 col-xxl-10 position-relative">
            <img class="center" src="{{ asset('images/background.jpg' ) }}"/>
         </div>

         <div id="right" class="col-12 col-md-4 col-lg-3 col-xxl-2 border p-2 bg-light">
            <div class="fw-bold fs-5 border-bottom border-1 border-dark">Lista uczniów</div>
            {% for student in class.students %}
               <div class="border-bottom d-flex">
                  <div class="me-auto">{{ student.name }}</div>
                  <div>
                     {% if student.isActive == true %}
                        <img title="Skopiuj link do aktywacji konta" class="copy-wrapper img-very-small" src="{{ asset("images/copy.png") }}" data-link="{{ url('app_complete_register', { pesel: student.pesel, code: student.code, UserType: student.role.name }) }}"/>
                     {% endif %}
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}
