{% extends 'base.html.twig' %}

{% block title %}
   Lista Nauczycieli
{% endblock %}

{% block javascripts %}
   <script src="{{ asset("js/userList.js") }}"></script>
{% endblock %}

{% block body %}
   <h1 id="main-title">Lista nauczycieli</h1>

   <table class="table table-striped table-sm">
      <thead>
         <tr>
            <th>Nr.</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Adres email</th>
            <th>PESEL</th>
            <th>Klasa</th>
            <th class="text-center">Status konta</th>
            <th class="text-center">Aktywacja</th>
            <th class="text-center"></th>
         </tr>
      </thead>

      <tbody>
         {% for user in users %}
            <tr>
               <td>{{ loop.index }}</td>
               <td>{{ user.firstName }}</td>
               <td>{{ user.lastName }}</td>
               <td>{{ user.email }}</td>
               <td>{{ user.pesel }}</td>
               <td>{{ user.class ? user.class.name : null }}</td>
               <td class="text-center">
                  {% if user.isActive %}
                     <span class='text-success'>Konto aktywne</span>
                  {% else %}
                     <span class='text-danger'>Konto nie aktywne</span>
                  {% endif %}
               </td>

               <td class="text-center">
                  {% if user.isActive == false %}
                     <img class="copy-wrapper img-medium" src="{{ asset("images/copy.png") }}" data-link="{{ url('app_complete_register', { pesel: user.pesel, code: user.code, UserType: user.role.name }) }}"/>
                  {% endif %}
               </td>

               <td class="text-center d-flex flex-wrap">
                  <a class="me-2" href="{{ path('app_teacher_id_schedule', { teacher_id: user.id }) }}">
                     <img class="img-small" src="{{ asset("images/schedule.png") }}"/>
                  </a>

                  <a href="{{ path('app_user_edit', { id: user.id, UserType: user.role.name }) }}">
                     <img class="img-small" src="{{ asset("images/edit.png") }}"/>
                  </a>
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}
