{% extends 'base.html.twig' %}

{% block title %}
   {{ class.name }}
{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/class.css') }}"/>
{% endblock %}

{% block body %}
   <div id="content" class="d-flex flex-wrap">
      <h1 id="main-title" class="w-100 fs-5">
         {{ class.name }}
         -
         {{ class.teacher ? class.teacher.name : "Brak wychowawcy" }}
      </h1>

      <div class="conteiner-fluid row w-100 mx-auto">
         <div id="left" class="col-12 col-md-8 col-lg-9 col-xxl-10">
            <img src="{{ asset('images/background.jpg' ) }}"/>
         </div>

         <div id="right" class="col-12 col-md-4 col-lg-3 col-xxl-2 border p-2 bg-light">
            <div class="fw-bold fs-5 border-bottom border-1 border-dark">Lista uczniów</div>
            {% for student in class.students %}
               <div class="border-bottom">
                  {{ student.name }}
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
{% endblock %}
